
nav {
    background-color: #5a8dce; /* Sober blue */
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; 
    color: #333;
    /* scroll-behavior: smooth; */
    margin-bottom: 200px;
}

/* Form and labels */
form {
    margin: 20px auto;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    
}
.link_label{
    margin-left: 50px;
}

input, select, button {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: auto;
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    margin-left: 50px; 
    border-radius: 5px;
    font-size: 14px;
}


button {
    background-color: #5a8dce;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #467ab3;
}

/* Headings */
h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
